@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "poppies", sans-serif;
  margin: 0;
  min-height: 100vh;
  text-align: center;
  padding: 5rem;
}
#toggle {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: rgb(62, 196, 10);
  margin: 20px;
  border: 2px solid blue;
}
label {
  color: rgb(16, 180, 10);
  font-size: 30px;
}

body.dark {
  background-color: brown;
  border: 20px solid burlywood;
  border-radius: 50%;
  transition: 0.5s;
}
